.container {
  padding: 0px 0px;
  background-color: #ffffff;
}

.promoSection {
  margin-top: 0;
  padding: 20px 20px;
  background-color: #fff7e6;
  text-align: center;
  background-size: cover;
  margin-bottom: 30px;
}

.promoSection h2 {
  font-size: 30px;
  color: #ff9900;
  text-shadow: 0 0 14px rgba(0, 0, 0, 0.979),
    0 0 10px rgb(0, 0, 0),
    0 0 15px rgba(0, 0, 0, 0.76);
  margin-bottom: 10px;
  
}

.promoSection p {
  font-size: 16px;
  color: #ff9900;
  text-shadow: 0 0 24px rgba(0, 0, 0, 0.979),
    0 0 10px rgb(0, 0, 0),
    0 0 15px rgba(0, 0, 0, 0.76);
}

.heroAceul {
  margin: 30px 30px;
  position: relative;
  background-position: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  background-size: cover;
  height: 550px;
}


.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  max-width: 700px;
}


.title {
  font-size: 36px;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 18px;
  margin-bottom: 20px;
}
.cta {
  background: black;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.cta:hover {
  background-color: #222;
}

.secondaryBtn {
  margin-top: 16px;
  background-color: #ff9900;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.secondaryBtn:hover {
  background-color: #e68300;
}



.infoSection {
  background-color: #111;
  padding: 30px 0px;
  height: 400px;
  text-align: center;
}
.infoSection h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 30px;
}

.benefitsList {
  list-style: none;
  padding-left: 0;
}
.benefitsList li {
  color: #b4b4b4;
  font-size: 17px;
  margin-bottom: 12px;
}

.surveySection {
  padding: 20px 0px;
  text-align: center;
}
.surveySection h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.surveySection p {
  font-size: 16px;
  margin-bottom: 20px;
}
