/*Menu*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  color: white;
  padding: 13px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  gap: 30px;
}

.link {
  color: #ccc;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.link:hover {
  color: white;
}
.cartSection {
  position: relative;
}
.cartButton {
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  height: 30px;
}


.cartButton img{
  height: 30px;
}

.cartCount {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 1px 4px;
  font-size: 0.75rem;
  position: absolute;
  top: -8px;
  right: -10px;
}


.logoImage {
  height: 30px;
  
}
